/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #395c32;
    background-color: #d89ed4;
  }

#contbodyent{
  background-color:rgb(109, 147, 229)
}
#Intro{
  background-color: rgb(151, 49, 95);
  width: 150px;
  min-height: 150px;
  padding: 100px;
  margin: 10px;
  border: solid 7px #000000;
  font-size: 20px;
}

#Intro h1{
  color: rgb(229, 109, 161);
  font-family: cursive;
}


#Intro p{
  font-family: fantasy;
  font-size: 25px;
  font-style: oblique;
  position: relative;
  left: 10px;
} 

#Intro img{
  width: 200px;
  position: relative;
  top: 10px;
  right: 20px;
}