h1,h2,h3 {
    font-family: sans-serif;
  }

  body {
    background-color: #82ae90;
  }

  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #888;
    background-color: #c299b3;
  }
  
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #d17ba7;
    position: relative;
    overflow:hidden;
  }
  
.text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10 px;
    border-radius: 15px;
    background-color: gray;
    color: white;
    font-family: sans-serif;
    font-size: 0.8cm;
  }